@font-face {
  font-family: "Cooper Black";
  src: url("CooperFiveOpti-Black.otf");
}

:root {
  --text-outline-size: 0.06em;
}

body {
  background-color: #d1ebf6;
  font-family: "Cooper Black", serif;
  text-align: center;
}

/* TITLE CONTAINER */
#title-container {
  position: relative; /* Ensure positioning context for absolute positioning */
  display: flex;
  height: 100vh;
  padding: 30px;
  font-family: Arial, sans-serif;
}

/* CLOUD ONE */
.cloud1 {
  position: absolute;
  margin-top: 5em;
  vertical-align: 25%;
  width: 350px;
  height: 120px;
  z-index: -1;
  border-radius: 100px;
  box-shadow: 10px 10px rgba(0, 0, 0, 0.2);
  background: #f0f7fc;
}

.cloud1::after,
.cloud1::before {
  content: "";
  position: relative;
  display: inline-block;
  background: inherit;
  border-radius: inherit;
}

.cloud1::after {
  top: -110px;
  left: -150px;
  width: 100px;
  height: 100px;
}

.cloud1::before {
  top: -70px;
  left: 100px;
  width: 180px;
  height: 180px;
}

/* CLOUD TWO */
.cloud2 {
  position: absolute;
  margin-top: 25em;
  vertical-align: 25%;
  right: 5%;
  width: 350px;
  height: 120px;
  z-index: -1;
  border-radius: 100px;
  box-shadow: 10px 10px rgba(0, 0, 0, 0.2);
  background: #f0f7fc;
}

.cloud2::after,
.cloud2::before {
  content: "";
  position: relative;
  display: inline-block;
  background: inherit;
  border-radius: inherit;
}

.cloud2::after {
  top: -110px;
  left: -150px;
  width: 100px;
  height: 100px;
}

.cloud2::before {
  top: -70px;
  left: 100px;
  width: 180px;
  height: 180px;
}

/* CLOUD THREE */
.cloud3 {
  position: absolute;
  margin-top: 35em;
  vertical-align: 25%;
  right: 45%;
  width: 350px;
  height: 120px;
  z-index: -1;
  box-shadow: 10px 10px rgba(0, 0, 0, 0.2);
  border-radius: 100px;
  background: #f0f7fc;
}

.cloud3::after,
.cloud3::before {
  content: "";
  position: relative;
  display: inline-block;
  background: inherit;
  border-radius: inherit;
}

.cloud3::after {
  width: 100px;
  height: 100px;
  top: -110px;
  left: -150px;
}

.cloud3::before {
  width: 180px;
  height: 180px;
  top: -70px;
  left: 100px;
}

/* TITLE TEXT */
#title {
  position: absolute;
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
  padding: 0.5em;
  color: #4cb4f0;
  font-size: 10vw;
  font-family: "Cooper Black", serif;
  text-align: center;
  text-shadow: 0.07em 0.07em 0 #fefbba, -0.07em 0.07em 0 #fefbba,
    -0.07em -0.07em 0 #fefbba, 0.07em -0.07em 0 #fefbba, -0.07em 0 0 #fefbba,
    0.07em 0 0 #fefbba, 0 -0.07em 0 #fefbba, 0 0.07em 0 #fefbba;
}

#fly {
  position: relative;
  top: 30%;
}

@supports (-webkit-text-stroke: var(--text-outline-size) #fefbba) {
  #title {
    font-size: 10vw;
    text-shadow: none;
    -webkit-text-stroke: var(--text-outline-size) #fefbba;
  }
}

.color1 {
  color: #4cb4f0;
  -webkit-text-fill-color: #4cb4f0;
}

.color2 {
  color: #f6d4e3;
  -webkit-text-fill-color: #f6d4e3;
}

.tilted {
  transform: rotate(9deg); /* Default tilt angle */
  display: inline-block; /* Ensure inline-block for individual character spans */
}
.tilted:nth-child(even) {
  transform: rotate(-9deg); /* Alternate tilt angle */
}

/* IMAGES */
img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}
