@font-face {
  font-family: "Cooper Black";
  src: url("CooperFiveOpti-Black.otf");
}

:root {
  --text-outline-size: 0.06em;
}

body {
  font-family: "Cooper Black", serif;
  text-align: center;
  background-color: #d1ebf6;
}

#title-container {
  position: relative; /* Ensure positioning context for absolute positioning */
  text-align: center; /* Center align for better display */
  display: flex;
  padding: 30px;
  font-family: Arial, sans-serif;
}

.cloud1 {
  margin-top: 5em;
  position: absolute;
  vertical-align: 25%;
  width: 350px;
  height: 120px;
  background: #eceff1;
  box-shadow: 10px 10px rgba(0, 0, 0, 0.2);
  border-radius: 100px;
  z-index: -1;
}

.cloud1::after,
.cloud1::before {
  content: "";
  position: relative;
  display: inline-block;
  background: inherit;
  border-radius: inherit;
}

.cloud1::after {
  width: 100px;
  height: 100px;
  top: -110px;
  left: -150px;
}

.cloud1::before {
  width: 180px;
  height: 180px;
  top: -70px;
  left: 100px;
}

.cloud2 {
  margin-top: 15em;
  position: absolute;
  vertical-align: 25%;
  right: 5%;
  width: 350px;
  height: 120px;
  background: #eceff1;
  box-shadow: 10px 10px rgba(0, 0, 0, 0.2);
  border-radius: 100px;
  z-index: -1;
}

.cloud2::after,
.cloud2::before {
  content: "";
  position: relative;
  display: inline-block;
  background: inherit;
  border-radius: inherit;
}

.cloud2::after {
  width: 100px;
  height: 100px;
  top: -110px;
  left: -150px;
}

.cloud2::before {
  width: 180px;
  height: 180px;
  top: -70px;
  left: 100px;
}

#title {
  font-size: 10vw;
  position: relative;
  padding: 20px;
  color: #4cb4f0;
  display: inline-block;
  font-family: "Cooper Black", serif;
  text-align: center;
  text-shadow: 0.07em 0.07em 0 #fefbba, -0.07em 0.07em 0 #fefbba,
    -0.07em -0.07em 0 #fefbba, 0.07em -0.07em 0 #fefbba, -0.07em 0 0 #fefbba,
    0.07em 0 0 #fefbba, 0 -0.07em 0 #fefbba, 0 0.07em 0 #fefbba;
}

@supports (-webkit-text-stroke: var(--text-outline-size) #fefbba) {
  #title {
    font-size: 10vw;
    text-shadow: none;
    -webkit-text-stroke: var(--text-outline-size) #fefbba;
  }
}

.color1 {
  color: #4cb4f0;
  -webkit-text-fill-color: #4cb4f0;
}

.color2 {
  color: #f6d4e3;
  -webkit-text-fill-color: #f6d4e3;
}

.tilted {
  transform: rotate(9deg); /* Default tilt angle */
  display: inline-block; /* Ensure inline-block for individual character spans */
}
.tilted:nth-child(even) {
  transform: rotate(-9deg); /* Alternate tilt angle */
}

img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}
